[[language]]
name = "toml"
formatter = { command = "dprint", args = ["fmt", "--stdin", "toml"] }
auto-format = true

[[language]]
name = "css"
formatter = { command = "dprint", args = ["fmt", "--stdin", "css"] }
auto-format = true

[[language]]
name = "json"
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"] }
auto-format = true

[[language]]
name = "jsonc"
formatter = { command = "dprint", args = ["fmt", "--stdin", "json"] }
auto-format = true

[[language]]
name = "markdown"
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = "dprint", args = ["fmt", "--stdin", "ts"] }
auto-format = true
language-servers = ["oxlint-language-server", "typescript-language-server"]

[[language]]
name = "tsx"
formatter = { command = "dprint", args = ["fmt", "--stdin", "tsx"] }
auto-format = true

[[language]]
name = "yaml"
formatter = { command = "dprint", args = ["fmt", "--stdin", "yaml"] }
auto-format = true

[[language]]
name = "docker-compose"
formatter = { command = "dprint", args = ["fmt", "--stdin", "yaml"] }
auto-format = true

[[language]]
name = "nix"
formatter = { command = "dprint", args = ["fmt", "--stdin", "nix"] }
auto-format = true
